
<div class="container spacer">
  <div class="card">
    <div class="card-header">Saisie des patients</div>
    <div class="card-body">
      <div *ngFor="let c of patient?.name">
        <div class="form-group">
          <label class="custom-control-label">Nom :</label>
          <input class="form-control" type="text" [(ngModel)]="c.family"/>
        </div>
        <div class="form-group">
          <label class="custom-control-label">Prénom :</label>
          <input class="form-control" type="text" [(ngModel)]="c.given"/>
        </div>
        <div class="form-group">
          <label class="custom-control-label">Date Naissance :</label>
          <input class="form-control" type="text" [(ngModel)]="patient.birthDate"/>
        </div>
        <div class="form-group">
          <label class="custom-control-label">Gender :</label>
          <input class="form-control" type="text" [(ngModel)]="patient.gender"/>
        </div>
        <div *ngFor="let d of patient.telecom" class="form-group">
          <label class="custom-control-label">Tel :</label>
          <input class="form-control" type="text" [(ngModel)]="d.value"/>
        </div>
        <button class="btn btn-success" (click)="savePatient(patient)">Save</button>
      </div>
    </div>
  </div>
</div>
